Handling of 0-RTT interactions

As detailed in the related [crbug](https://bugs.chromium.org/p/chromium/issues/detail?id=926299), we should better define how `connectEnd` is defined for 0-RTT protocols for both GET and POST requests.

Let's get this moving. In step 3 for `connectEnd` here...
https://w3c.github.io/resource-timing/#dom-performanceresourcetiming-connectend

I propose replacing this sentence:

> The returned time MUST include the time interval to establish the transport connection, as well as other time intervals such as SSL handshake and SOCKS authentication

with:

> The returned time MUST include the time interval to establish the transport connection, as well as other time intervals such as SOCKS authentication. It MUST include the time interval to complete enough of the TLS handshake to request the resource. That is:
> * If the user agent used TLS False Start[RFC7918] for this connection, this interval does not include the time needed to receive the server's Finished message.
> * If the user agent sends the request with early data[RFC8470], this interval does not include the time needed to receive the server's ServerHello message. However, if the user agent waits for full handshake completion to send the request, this interval includes the full TLS handshake even if other requests were sent using early data on this connection.
> 
> [EXAMPLE: The user agent establishes an HTTP/2 connection over TLS 1.3 to send a GET request and a POST request. It sends the ClientHello at time t1 and then sends the GET request with early data. The POST request is not safe [RFC7231, section 4.2.1], so the user agent waits to complete the handshake at time t2 before sending it. The GET request reports a `connectEnd` value of t1. The POST request reports a `connectEnd` value for t2.]

Finally, the reference to RFC5246 should be updated to RFC8446.


@davidben apologies for the delay.

The above text LGTM. Care to file a PR?

As far as testing goes, I don't think WPT supports any of that, which means this will have to rely on proprietary browser tests, which isn't great... Summoning @foolip for opinions and advice

Yeah, the WPT test server doesn't even reliably have the 10-year-old TLS 1.2 right now, to say nothing of TLS 1.3. The problem is Python isn't suitable for writing test servers. It lacks a good crypto or concurrency story. It is too slow to implement crypto by hand, so all crypto libraries involve native extension modules, which are a build hassle. If WPT wants to test anything adjacent to networking work, it'll need serious infrastructure work, such as a Go toolchain. In the meantime, we'll have to live with browser-specific unit tests.

@stephenmcgruer @Hexcles @LukeZielinski of Ecosystem Infra may have thoughts on this. Rewriting wptserve in another language would be a large undertaking because of its use in Gecko, Chromium and WebKit, and all the cgi-style Python scripts that are part of the tests, but if enough of the web platform becomes untestable without doing something, then maybe it could be justified.

I would say, though, that it's the responsibility of the feature teams that the features their shipping are on a good path to interoperable cross-browser implementation. If wpt can't be used that means it'll be a lot more work, but nobody else is in a better position to do it.

Right, this comes up every time there's a networking-related feature. We do our own thing because WPT does not work, then someone asks why we don't use WPT because the Blink process asks for it, then we explain why WPT does not work, then we're asked to do our own thing, and the cycle repeats.

https://groups.google.com/a/chromium.org/d/msg/blink-dev/KeQ2s0z6ZkM/YQK_MUuXBgAJ

Would you mind filing issues in https://github.com/web-platform-tests/wpt/issues for the things that can't be done or are impractical, if not already under [type:untestable](https://github.com/web-platform-tests/wpt/labels/type%3Auntestable).

I hadn't heard of old TLS being a problem before, but it might be related to why HTTP/2 doesn't work yet. That Python might just be too slow to test what needs to be tested hasn't come up directly before, but it sounds plausible.

There's some precedent for go tooling in https://github.com/web-platform-tests/wpt/tree/master/signed-exchange, but then not as a hard runtime requirement.

@davidben is correct and I share your frustration.

A minor correction is that WPT (or wptserve) itself does not impose restrictions on TLS. It's the Python binary that's used to run WPT. Unfortunately, currently macOS bots in Chromium use a Python binary that's linked against a very old OpenSSL that doesn't even have TLS 1.2 (https://crbug.com/936515).

Even if we fixed that (and we should), the core questions remain:
1. Python is a dynamic language with a runtime, so we are always constrained by system environments. It is very hard to ensure that, for example, we have the most up-to-date SSL library everywhere.
2. Python is a scripting language that does not expose many crypto or networking primitives.

Short of rewriting the whole wptserve to something like Caddy with CGI, we have a possible short-term compromise that I have discussed with [WebTransport](https://github.com/web-platform-tests/wpt/issues/19114) and Signed Exchange folks: implement a small test server (e.g. for QUIC) and ship static binaries, which will either listen on dedicated ports (but managed by `wptserve`), or be proxied by `wptserve` on the transport level via local loopback.

> Would you mind filing issues in https://github.com/web-platform-tests/wpt/issues for the things that can't be done or are impractical, if not already under type:untestable.

Done. https://github.com/web-platform-tests/wpt/issues/20159


Maybe we should go back now to the original topic here? Yoav, could you apply the spec fix? Without it, it's not even defined how this API works with 0-RTT. (Or False Start, for that matter, despite being a long-standing TLS optimization.)

Friendly ping w.r.t. the spec fix.

Thanks for the ping! I don't have context on this. @yoavweiss is OOO until next year but I assume he'll take on this when he's back.